@page "/menu"

<h3>Menu</h3>

<ul>
    <li><NavLink href="shipment-input">Enter Shipment ID</NavLink></li>
    <li><NavLink href="shipment/00000000-0000-0000-0000-000000000000">Shipment Details (Example)</NavLink></li>
</ul>
